/* === Theme Imports === */
@import '@clothesline/themes/css/themes/clothesline.css';
@import '@clothesline/themes/css/themes/timberline.css';
@import '@clothesline/themes/css/themes/retrograde.css';
@import '@clothesline/themes/css/themes/milkyway.css';
@import '@clothesline/themes/css/themes/copper-sun.css';
@import '@clothesline/themes/css/themes/tidal-glass.css';
@import '@clothesline/themes/css/themes/night-market.css';
@import '@clothesline/themes/css/themes/bigsky.css';
@import '@clothesline/themes/css/modes.css';
@import '@clothesline/themes/css/foundations.css';
@import '@clothesline/themes/css/components.css';
@import '@clothesline/themes/css/semantic-colors.css';
@import '@clothesline/themes/css/semantic.css';

@import "tailwindcss";

@source "./**/*.{svelte,ts,js}";               
@source "../../packages/ui/src/**/*.{svelte,ts}";
@source "../../packages/icons/src/**/*.{svelte,ts}";
@source "../../packages/themes/src/**/*.{ts}";
